//
// etc custom fonts
//

@font-face {
    font-family: 'PrettyNight';
    src: url('../fonts/Cafe24Oneprettynight-v2.0.woff2'), format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Dangdanghae';
    src: url('../fonts/Cafe24Dangdanghae-v2.0.woff2'), format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'LaundryGothic';
    src: url('../fonts/LaundryGothic Regular.ttf'), format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Surround';
    src: url('../fonts/Cafe24Ssurround-v2.0.otf'), format('otf');
    font-style: normal;
}

@font-face {
    font-family: 'SurroundAir';
    src: url('../fonts/Cafe24SsurroundAir-v1.1.otf'), format('otf');
    font-style: normal;
}

@font-face {
    font-family: 'Euljiro';
    src: url('../fonts/BMEuljiro10yearslater.ttf'), format('ttf');
    font-style: normal;
}
