//
// NotoSans fonts
//

@font-face {
    font-family: "NotoSans-B";
    src: url('../fonts/NotoSans-Bold.woff2');
    src: local('Noto Sans Bold'), local('Noto-Sans-Bold'), url('../fonts/NotoSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans-M";
    src: url('../fonts/NotoSans-Medium.woff2');
    src: local('Noto Sans Medium'), local('Noto-Sans-Medium'), url('../fonts/NotoSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans-R";
    src: url('../fonts/NotoSans-Regular.woff2');
    src: local('Noto Sans Regular'), local('Noto-Sans-Regular'), url('../fonts/NotoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans-L";
    src: url('../fonts/NotoSans-DemiLight.woff2');
    src: local('Noto Sans DemiLight'), local('Noto-Sans-DemiLight'), url('../fonts/NotoSans-DemiLight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}