//
// Pretendard fonts
//

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Light.subset.woff2');
  src: local('Pretendard Light'), local('Pretendard-Light'), url('../fonts/Pretendard-Light.subset.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.subset.woff2');
  src: local('Pretendard Regular'), local('Pretendard-Regular'), url('../fonts/Pretendard-Regular.subset.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.subset.woff2');
  src: local('Pretendard Medium'), local('Pretendard-Medium'), url('../fonts/Pretendard-Medium.subset.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-SemiBold.subset.woff2');
  src: local('Pretendard SemiBold'), local('Pretendard-SemiBold'), url('../fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.subset.woff2');
  src: local('Pretendard Bold'), local('Pretendard-Bold'), url('../fonts/Pretendard-Bold.subset.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}