.sec1 {
    padding: 90px 20px 0px 20px;
}
.sec2, .sec3, .sec4, .sec5 {
    padding: 90px 0px 0px 0px;
}
.sec1 {
    word-break: keep-all;
    background: url('../../assets/img/employee/service001.png') no-repeat center/cover;
}
.sec1 .title {
    font-family: var(--font-B);
    font-size: 2.5rem;
    padding-bottom: 16px;
}
.sec1 .title > span {
    color: var(--yellow)
}
.sec1 .description {
    font-family: var(--font-R);
    font-size: 1.4rem;
}


.sec2 > div > div {
    display: flex;
    gap: 30px;
}
.sec2 span {
    color: var(--yellow);
}
.sec2 .quotes {
    color: var(--yellow);
    display: block;
    padding-top: 16px;
    font-size: 3rem;
}

.sec2 .title {
    color: var(--black);
    font-size: 2rem;
    font-family: var(--font-B);
    line-height: 2.8rem;
    padding-bottom: 16px;
    white-space: nowrap;
}
/* .sec2 > div > div > .description {
    color: var(--gray02);
    font-size: 1.2rem;
} */
.sec2 > div > div > .img {
    padding-top: 30px;
}
.sec2 > div > div > .img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}



.sec3 {
    background: url('../../assets/img/employee/service003.png') no-repeat center/cover;
}
.sec3 .description {
    font-family: var(--font-R);
    font-size: 1.6rem;
}
.sec3 .title {
    font-family: var(--font-B);
    font-size: 2.5rem;
    padding: 4px 0 50px 0;
}
.sec3 .category {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 10px;
}
.sec3 .category > div {
    width: 100%;
    height: 300px;
    background-color: var(--white);
}
.sec3 .category > div > .img {
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.sec3 .category > div > .img > img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}
.sec3 .category > div:hover > .img > img {
    transform: scale(1.1);
}

.sec3 .category > div > .content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px;
}
.sec3 .category > div > .content > p:nth-child(1) { 
    font-family: var(--font-M);
    font-size: 1.2rem;
    color: var(--black);
}
.sec3 .category > div > .content > p:nth-child(2) { 
    font-family: var(--font-R);
    font-size: 0.8rem;
    color: var(--gray02);
    padding-bottom: 6px;
}

.sec4 {
    background-color: var(--yellow);
}
.sec5 > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sec5 > div > div {
    height: 100%;
}

/* 태블릿 */

@media screen and (max-width: 768px) {
    .sec1 {
        padding: 60px 20px 0px 20px;
    }
    .sec2, .sec3, .sec4, .sec5 {
        padding: 60px 0px 0px 0px;
    }

    .sec1 .title {
        font-size: 2rem;
    }
    .sec1 .description {
        font-size: 1.2rem;
    }

    .sec2 .title {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .sec2 > div > div > .img {
        padding-top: 10px;
    }

    .sec3 .title {
        font-size: 2rem;
        padding: 0px 0px 30px 0px;
    }
    .sec3 .description {
        font-size: 1.2rem;
        margin-top: 50px;
    }
    .sec3 .category {
        gap: 10px;
        margin-bottom: 50px;
    }
    .sec3 .category > div > .content > p:nth-child(1) {
        font-size: 1rem;
    }
    .sec3 .category > div > .content > p:nth-child(2) { 
        font-size: 0.75rem;
    }
}



@media screen and (max-width: 640px) {
    .sec2 > div {
        height: 100%;
    }
    .sec2 > div > div {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
    }
    .sec2 .title {
        white-space: normal;
        word-break: keep-all;
        padding-bottom: 0px;
        padding-top: 40px;
    }
    .sec2 > div > div > .img {
        width: 90%;
        margin: 0 auto;
        padding-top: 0px;
    }
    /* .sec2 > div > div > .img > img {
        transform: translateY(6px);
    } */
}



/* 모바일 */

@media screen and (max-width: 480px) {
    .sec1 .title {
        font-size: 7vw;
        line-height: 10vw;
    }
    .sec1 .title > span:nth-child(2) {
        display: block;
    }
    .sec1 .title > br {
        display: none;
    }
    .sec1 .description {
        font-size: 4vw;
    }

    .sec2 .title {
        font-size: 6.2vw;
    }
    .sec2 .title > p {
        line-height: 9vw;
    }

    .sec3 .title {
        font-size: 6vw;
    }
    .sec3 .description {
        font-size: 4.5vw;
    }
    .sec3 .category {
        flex-direction: column;
    }
    .sec3 .category > div {
        display: flex;
        height: 120px;
    }
    .sec3 .category > div > .img { 
        width: 40%; 
        height: 100%; 
    }
    .sec3 .category > div > .content {
        position: relative;
        justify-content: center;
        gap: 4px;
        width: 60%;
        height: 100%;
        padding: 0px 30px 0px 0px;
    }
    .sec3 .category > div > .content > p:nth-child(1),
    .sec3 .category > div > .content > p:nth-child(2) { 
        padding-bottom: 0px;
    }

    .sec5 > div > div > div {
        height: 100% !important;
    }
}