.sec1 {
    word-break: keep-all;
    padding: 180px 20px;
    background: url('../../assets/img/employee/injury001.png') no-repeat center/cover;
}
.sec1 > .title {
    font-family: var(--font-B);
    font-size: 2.4rem;
    padding-bottom: 10px;
}
.sec1 > .title > span {
    color: var(--yellow);
}
.sec1 > .description {
    font-family: var(--font-R);
    font-size: 1.8rem;
}




.sec2 > .contentContainer {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 400px;
    margin-bottom: 90px;
}
.sec2 > .contentContainer > .img {
    width: 250px;
    height: 100%;
    background: url('../../assets/img/employee/injury002.png') no-repeat 16% 84%/cover;
    background-size: 300%;
}
.sec2 > .contentContainer > .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 250px);
    height: 100%;
    color: var(--black);
    text-align: left;
}
.sec2 > .contentContainer > .text > div > .title {
    font-family: var(--font-B);
    font-size: 1.8rem;
    padding-bottom: 20px;
}
.sec2 > .contentContainer > .text > div > .title > span {
    color: var(--yellow);
}
.sec2 > .contentContainer > .text > div > .description {
    font-family: var(--font-R);
    font-size: 1.3rem;
}





.sec3 {
    position: relative;
    padding: 60px 0px;
    background-color: var(--blue);
}
.sec3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--blue);
}
.sec3 > div > .title {
    font-family: var(--font-B);
    font-size: 2rem;
    padding-bottom: 30px;
}
.sec3 > div > .title > span {
    color: var(--yellow);
}
.sec3 > div > .typeContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.sec3 > div > .typeContainer > .type {
    width: calc(25% - (90px / 4));
    background-color: #cdd3d7;
    padding: 24px 0px;
}
.sec3 > div > .typeContainer > .type > p {
    font-family: var(--font-B);
    font-size: 1.4rem;
    color: #3c3c3c;
}
.sec3 > div > .typeContainer > .type > img {
    width: 55px;
    height: 40px;
    object-fit: contain;
}




.sec4 {
    padding: 130px 0px 100px 0;
}
.sec4 > .title {
    font-family: var(--font-B);
    font-size: 1.8rem;
    color: var(--black);
    padding-bottom: 30px;
}
.sec4 > .title > span {
    color: var(--yellow);
}
.sec4 > .graph > div {
    display: flex;
    justify-content: space-between;
}
.sec4 > .graph p {
    width: 42%;
    font-family: var(--font-B);
    font-size: 1.6rem;
    color: #122b43;
    border: 4px solid #122b43;
    padding: 10px 0px;
    border-radius: 50px;
    margin-bottom: 24px;
}
.sec4 > .graph .yellow {
    color: var(--yellow);
    border: 4px solid var(--yellow);
}
.sec4 > .graph .smallText {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 60%;
    font-family: var(--font-B);
    font-size: 1.4rem;
    color: #122b43;
    text-align: right;
    white-space: nowrap;
    margin-bottom: 24px;
}
.sec4 > .graph .smallText > .line {
    position: relative;
    width: 100%;
    border-top: 4px dotted #122b43;
}
.sec4 > .graph .smallText > .line::after {
    content: '';
    display: block;
    position: absolute;
    right: -4px;
    top: calc(50% - 2px);
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #122b43;
}
.sec4 > .graph .row {
    width: 55%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.sec4 > .graph .row > .line {
    position: relative;
    width: 22%;
    border-top: 4px dotted #122b43;
}
.sec4 > .graph .row > .line::after {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: calc(50% - 2px);
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #122b43;
}
.sec4 > .graph .row > p {
    width: 78%;
    margin: 0;
    white-space: nowrap;
}
.sec4 > .graph .row2 > .line {
    right: 6%;
}
.sec4 > .graph .row2 > .line::after {
    left: initial;
    right: -4px;
}
.sec4 .vLine {
    position: relative;
}
.sec4 .vLine::after {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 20px;
    border-right: 4px dotted #122b43;
}
.sec4 > .graph > .lastSmallText {
    width: 42%;
    font-family: var(--font-B);
    font-size: 1.4rem;
    color: #122b43;
    
    flex-direction: column;
    gap: 14px;
    position: relative;
    padding: 10px 0px;
}
.sec4 > .graph > .lastSmallText > .grayText {
    position: relative;
    transform: translateX(50%);
    text-align: left;
    font-family: var(--font-R);
    color: #a8a8a8;
    padding-left: 16px;
}
.sec4 > .graph > .lastSmallText > .grayText::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    height: 50px;
    border-right: 4px dotted #122b43;
}

.sec4 > .graph > .noMarginBottom {
    margin-bottom: 0;
}




/* 태블릿 */

@media screen and (max-width: 768px) {
    .sec1 {
        padding: 100px 20px;
    }
    .sec1 > .title {
        font-size: 1.6rem;
    }
    .sec1 > .description {
        font-size: 1rem;
    }

    .sec2 > .contentContainer {
        height: 300px;
        gap: 20px;
    }
    .sec2 > .contentContainer > .text > div > .title {
        font-size: 1.6rem;
        padding-bottom: 10px;
    }
    .sec2 > .contentContainer > .text > div > .description {
        font-size: 1rem;
        padding-right: 10px;
    }
    .sec2 > .contentContainer > .text > div > .description > p {
        display: inline;
        padding-right: 4px;
    }

    .sec3 {
        padding: 60px 10px;
    }
    .sec3::before {
        bottom: -30px;
        width: 60px;
        height: 60px;
    }
    .sec3 > div > .title {
        font-size: 1.6rem;
        padding-bottom: 20px;
    }
    .sec3 > div > .typeContainer {
        gap: 16px;
    }
    .sec3 > div > .typeContainer > .type {
        padding: 16px 8px;
    }
    .sec3 > div > .typeContainer > .type > p {
        font-size: 1.2rem;
    }

    .sec4 {
        padding: 90px 20px 60px 20px;
    }
    .sec4 > .title {
        font-size: 1.6rem;
        padding-bottom: 20px;
    }
    .sec4 > .graph p {
        font-size: 1.2rem;
    }
    .sec4 > .graph .smallText {
        font-size: 1.1rem;
    }
    .sec4 > .graph > .lastSmallText {
        font-size: 1.1rem;
    }
}




/* 모바일 */

@media screen and (max-width: 480px) {
    .sec1 {
        padding: 80px 20px;
    }
    .sec1 > .title {
        font-size: 7vw;
    }
    .sec1 > .description {
        font-size: 4vw;
    }

    .sec2 > .contentContainer {
        flex-direction: column;
        height: auto;
        gap: 0px;
        margin-bottom: 60px;
    }
    .sec2 > .contentContainer > .img {
        width: 100%;
        height: 250px;
        background: url('../../assets/img/employee/injury002.png') no-repeat center/cover;
        background-size: 100%;
    }
    .sec2 > .contentContainer > .text {
        width: 100%;
        padding: 20px;
        gap: 20px;
    }
    .sec2 > .contentContainer > .text > div > .title {
        font-size: 6vw;
        padding-bottom: 4px;
    }
    .sec2 > .contentContainer > .text > div > .description {
        font-size: 4.2vw;
    }
    .sec2 > .contentContainer > .text > div > .description > p {
        display: inline;
        padding-right: 4px;
    }

    .sec3 > div > .title {
        font-size: 6vw;
    }
    .sec3 > div > .typeContainer {
        gap: 12px;
    }
    .sec3 > div > .typeContainer > .type {
        width: auto;
        padding: 12px 8px;
    }
    .sec3 > div > .typeContainer > .type > p {
        font-size: 1rem;
    }
    .sec3 > div > .typeContainer > .type > img {
        width: 40px;
        height: 30px;
    }

    .sec4 {
        padding: 90px 10px 60px 10px;
    }
    .sec4 > .title {
        font-size: 7vw;
    }
    .sec4 > .graph p {
        font-size: 1rem;
        border: 3px solid #122b43;
        margin-bottom: 20px;
        padding: 8px 0px;
    }
    .sec4 > .graph .yellow {
        border: 3px solid var(--yellow);
    }
    .sec4 > .graph .smallText {
        font-size: 0.8rem;
    }
    .sec4 > .graph .smallText > .line {
        border-top: 3px dotted #122b43;
    }
    .sec4 > .graph .smallText > .line::after {
        top: calc(50% - 1px);
        width: 8px;
        height: 8px;
    }
    .sec4 > .graph .row > .line {
        border-top: 3px dotted #122b43;
    }
    .sec4 > .graph .row > .line::after {
        top: calc(50% - 1px);
        width: 8px;
        height: 8px;
    }
    .sec4 .vLine::after {
        bottom: -20px;
        height: 14px;
        border-right: 3px dotted #122b43;
    }
    .sec4 > .graph > .lastSmallText {
        font-size: 0.9rem;
        gap: 8px;
        padding: 8px 0px;
    }
    .sec4 > .graph > .lastSmallText > .grayText {
        white-space: nowrap;
    }
    .sec4 > .graph > .lastSmallText > .grayText::before {
        height: 30px;
        border-right: 3px dotted #122b43;
    }
}