.sec1 {
    word-break: keep-all;
    padding: 180px 20px;
    background: url('../../assets/img/business/hr001.png') no-repeat center/cover;
}
.sec1 > .title {
    font-family: var(--font-B);
    font-size: 2.4rem;
    padding-bottom: 16px;
}
.sec1 > .title > span {
    color: var(--yellow)
}
.sec1 > .description {
    font-family: var(--font-R);
    font-size: 1.8rem;
}



.sec2 {
    padding-bottom: 100px;
}
.sec2 > .title {
    font-family: var(--font-B);
    font-size: 2rem;
    padding-bottom: 40px;
    color: var(--black);
}
.sec2 > .title > span {
    color: var(--yellow);
}
.sec2 > .process {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.sec2 > .process > .box {
    width: calc((100% / 3) - 20px);
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    color: var(--black);
}
.sec2 > .process > .box:last-child {
    height: 190px;
    transform: translateY(-10px);
    background-color: var(--blue);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 8px 10px 8px;
}
.sec2 > .process > .box > p:nth-child(1) {
    color: var(--yellow);
    font-family: var(--font-B);
    font-size: 1.2rem;
}
.sec2 > .process > .box > p:nth-child(2) {
    font-family: var(--font-B);
    font-size: 1.4rem;
    padding-bottom: 10px;
}
.sec2 > .process > .box > p:nth-child(3) {
    font-family: var(--font-R);
    font-size: 1.05rem;
}
.sec2 > img {
    width: 100%;
    padding-top: 50px;
}




.sec3 {
    position: relative;
    padding: 100px 20px;
    background-color: var(--blue);
}
.sec3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--blue);
}
.sec3 > div > .title {
    font-family: var(--font-B);
    font-size: 2rem;
    padding-bottom: 50px;
}
.sec3 > div > .title > span {
    color: var(--yellow);
}
.sec3 > div > .contentContainer > .row {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-bottom: 12px;
}
.sec3 > div > .contentContainer > .row p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--font-B);
    font-size: 1.4rem;
    background-color: rgba(256, 256, 256, 0.1);
    border-radius: 20px;
    padding: 22px;
}
.sec3 > div > .contentContainer > .row > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.sec3 > div > .contentContainer > .row > div > .img {
    width: 100%;
    height: 160px;
    border-radius: 20px;
    overflow: hidden;
}
.sec3 > div > .contentContainer > .row > div:nth-child(1) > .img {
    background: url('../../assets/img/business/hr003.png') no-repeat center/cover;
}
.sec3 > div > .contentContainer > .row > div:nth-child(2) > .img {
    background: url('../../assets/img/business/hr004.png') no-repeat center/cover;
}




.sec4 {
    padding: 100px 0px;
}
.sec4 > div > .title {
    color: var(--black);
    font-family: var(--font-B);
    font-size: 2rem;
    padding-bottom: 40px;
}
.sec4 span {
    color: var(--yellow)
}
.sec4 > div > .boxContainer {
    display: flex;
    gap: 30px;
}
.sec4 > div > .boxContainer > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 430px;
    background: linear-gradient(to right bottom, #051624, var(--blue), var(--blue));
    font-size: 1.3rem;
    padding: 30px 0px;
    overflow: hidden;
}
.sec4 > div > .boxContainer > div > p:nth-child(1) {
    font-size: 3rem;
    color: var(--yellow);
}
.sec4 > div > .boxContainer > div > img {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.sec4 > div > .boxContainer > div > p {
    position: relative;
    z-index: 2;
}
.sec4 > div > .boxContainer > div:nth-child(1) > img {
    width: 420px;
    top: 70px;
}
.sec4 > div > .boxContainer > div:nth-child(2) > img {
    width: 480px;
}
.sec4 > div > .boxContainer > div:nth-child(3) > img {
    width: 250px;
    top: 100px;
    left: 56%;
}
.sec4 > div > .boxContainer > div:nth-child(4) > img {
    width: 440px;
    left: 100%;
    top: 20px;
}




/* 태블릿 */

@media screen and (max-width: 768px) {
    .sec1 {
        padding: 100px 20px;
    }
    .sec1 > .title {
        font-size: 1.6rem;
    }
    .sec1 > .description {
        font-size: 1rem;
    }

    .sec2 {
        padding-bottom: 60px;
    }
    .sec2 > .title {
        font-size: 1.6rem;
        padding-bottom: 20px;
    }
    .sec2 > .process {
        padding: 0px 20px;
        gap: 20px;
    }
    .sec2 > .process > .box {
        width: calc((100% / 2) - 10px);
    }

    .sec3 {
        padding: 60px 20px;
    }
    .sec3::before {
        bottom: -30px;
        width: 60px;
        height: 60px;
    }
    .sec3 > div > .title {
        font-size: 1.6rem;
        padding-bottom: 30px;
    }
    .sec3 > div > .contentContainer > .row p {
        font-size: 1.2rem;
        border-radius: 14px;
        padding: 14px 6px;
    }

    .sec4 {
        padding: 60px 20px 40px 20px;
    }
    .sec4 > div > .title {
        font-size: 1.6rem;
        padding-bottom: 20px;
    }
    .sec4 > div > .boxContainer {
        gap: 10px;
    }
    .sec4 > div > .boxContainer > div {
        font-size: 1.1rem;
        height: 350px;
        padding: 8px 0px 20px 0px;
    }
    .sec4 > div > .boxContainer > div > p:nth-child(1) {
        font-size: 2.4rem;
    }
    .sec4 > div > .boxContainer > div:nth-child(1) > img {
        width: 370px;
        top: 40px;
    }
    .sec4 > div > .boxContainer > div:nth-child(2) > img {
        width: 390px;
        top: 20px;
    }
    .sec4 > div > .boxContainer > div:nth-child(3) > img {
        width: 200px;
        top: 74px;
    }
    .sec4 > div > .boxContainer > div:nth-child(4) > img {
        width: 350px;
    }
}




/* 모바일 */

@media screen and (max-width: 480px) {
    .sec1 {
        padding: 80px 20px;
    }
    .sec1 > .title {
        font-size: 7vw;
    }
    .sec1 > .description {
        font-size: 4vw;
    }

    .sec2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0px;
    }
    .sec2 > .title {
        font-size: 7vw;
    }
    .sec2 > .process {
        flex-direction: column;
    }
    .sec2 > .process > .box {
        width: 100%;
    }
    .sec2 > .process > .box:last-child {
        transform: none;
    }
    .sec2 > img {
        height: 200px;
        object-fit: cover;
        object-position: 80%;
    }

    .sec3 > div > .title {
        font-size: 7vw;
    }
    .sec3 > div > .title > span {
        display: block;
    }
    .sec3 > div > .contentContainer > .row {
        gap: 10px;
        margin-bottom: 10px;
    }
    .sec3 > div > .contentContainer > .row p {
        font-size: 1rem;
        word-break: keep-all;
    }
    .sec3 > div > .contentContainer > .row > div {
        gap: 10px;
    }
    .sec3 > div > .contentContainer > .row > div > .img {
        border-radius: 14px;
    }

    
    .sec4 > div > .title {
        font-size: 7vw;
    }
    .sec4 > div > .boxContainer {
        flex-wrap: wrap;
    }
    .sec4 > div > .boxContainer > div {
        width: calc(50% - 5px);
        height: 300px;
    }
    .sec4 > div > .boxContainer > div > p:nth-child(1) {
        font-size: 2rem;
    }
    .sec4 > div > .boxContainer > div:nth-child(1) > img {
        width: 330px;
        top: 30px;
    }
    .sec4 > div > .boxContainer > div:nth-child(2) > img {
        width: 350px;
        top: 5%;
    }
    .sec4 > div > .boxContainer > div:nth-child(3) > img {
        width: 181px;
        top: 58px;
    }
    .sec4 > div > .boxContainer > div:nth-child(4) > img {
        width: 320px;
        left: 96%;
        top: 6px;
    }
}