@font-face {
    font-family: "NotoSans-B";
    src: local('NotoSansKR'), url("../assets/fonts/NotoSansCJKkr-Bold.otf") format("opentype");
}
@font-face {
    font-family: "NotoSans-M";
    src: local('NotoSansKR'), url("../assets/fonts/NotoSansCJKkr-Medium.otf") format("opentype");
}
@font-face {
    font-family: "NotoSans-R";
    src: local('NotoSansKR'), url("../assets/fonts/NotoSansCJKkr-Regular.otf") format("opentype");
}
@font-face {
    font-family: "NotoSans-L";
    src: local('NotoSansKR'), url("../assets/fonts/NotoSansCJKkr-DemiLight.otf") format("opentype");
}